body {
    background-color: lightslategray;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coluna {
    flex: 1;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.coluna:hover {
    box-shadow: 0 0 15px red;
    background-color: lightyellow;
    color: darkviolet;
}