.formato0 {
    color: rebeccapurple;
    border: black solid 7px;
    background-color: limegreen;
}

.formato1 {
    color: darkblue;
    border: black solid 7px;
    background-color: lightgray;
}

.formato2 {
    color: indigo;
    background-color: lightgreen;
}