#esquerda {
    background-color: lightcoral;
    width: 45%;
    height: 300px;
    float: left;
}

#esquerda:hover {
    border: crimson 5px solid;
    background-color: rgba(240, 128, 128, 0.5);
}

#direita {
    background-color: lightskyblue;
    width: 45%;
    height: 300px;
    float: right;
}

#direita:hover {
    border: blue 5px solid;
    background-color: rgba(135, 206, 250, 0.5);
}