#container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "cabecalho cabecalho" "menu conteudo" " menu rodape";
    grid-template-columns: 15% auto;
    grid-template-rows: 120px 70vh 80px;
}

#cabecalho {
    grid-area: cabecalho;
    border: 1px dashed black;
}

#menu {
    grid-area: menu;
    border: 1px dashed black;
}

#conteudo {
    grid-area: conteudo;
    border: 1px dashed black;
}

#rodape {
    grid-area: rodape;
    border: 1px dashed black;
}