* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

#menu {
    padding-left: 20px;
    background-color: #7A7A73;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    color: #DDDAD0;
    font-family: sans-serif;
    padding: 20px;
    display: inline-block;
    font-size: 15px;
}

#menu ul li a:hover {
    background-color: #F8F3CE;
    color: #57564F;
}

.teste {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 20px;
}
